<html ng-app="loja">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h1>Lista de clientes</h1>

<div class="row" style="margin-bottom: 10px; margin-left: 10px;">
  <div class="update ml-auto ml-1">
      <a href="#cliente/cadastro">
	    <button class="btn btn-info btn-fill btn-wd">Novo</button>
      </a>
  </div>
</div>

<div ng-controller="clienteController" ng-init="listarClientes()">
	<div class="content table-responsive table-full-width">
		<table class="table table-hover">
			<thead>
				<th>ID</th>
				<th>Nome</th>
				<th>Endereço</th>
				<th>Telefone</th>
				<th>Remover</th>
			</thead>
			<tbody>
				<tr ng-repeat="cliente in data">
					<td>{{cliente.id}}</td>
					<td>{{cliente.nome}}</td>
					<td>{{cliente.endereco}}</td>
					<td>{{cliente.telefone}}</td>
				    <td ><a href ng-click="removerCliente(cliente.id);" 
				    	class="btn btn-danger btn-sm">deletar</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

</html>